#listticker{
	height:200px;
	width:250px;
	overflow:hidden;
	padding-bottom: 13px;
	color: #aab3be;

		
	
}
#listticker li{
	margin:0;
	padding:0;
	list-style:none;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 1px;
	border-left-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #aab3be;
}

#listticker li{
	height:60px;
	list-style:none;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;
	
}
#listticker .news-text{
	display:block;
	font-size:11px;
	margin-top:4px;
}
#listticker img{
	float:left;
	margin-right:10px;
	padding:2px;
	border:solid 1px #222426;
}	
